.btns-Contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 50px 0 100px 0;
}

.btn-Contacto {
  background-color: #18a04a;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.btn-Contacto:hover {
  background-color: #137938;
  color: #ffffff;
}
