:root {
  --fuentePrincipal: "Roboto", sans-serif;
  --fuenteSecundaria: "Lato", sans-serif;
  --primario: #537fe7;
  --secundario: #181823;
  --tercero: #27273a;
  --grisClaro: #e1e1e1;
  --gris: #3b3b3b;
  --azulOscuro: #0d60ad;
  --azulClaro: #20c7d6;
  --blanco: #ffffff;
  --negro: #000000;
  --verde: #16b900;
  --separacion: 5rem;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.5;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}
/** Globales **/
.contenedor {
  width: min(90%, 140rem);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

h1,
h2,
h3 {
  font-weight: 900;
  font-family: var(--fuenteSecundaria);
  margin: 0;
}
h1 {
  font-size: 4.4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 2.8rem;
}

/* Hero */
.hero {
  background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0.3),
      rgb(0 0 0 / 0.8)
    ),
    -webkit-image-set(url(../img/hero.avif) 1x, url(../img/hero.webp) 1x, url(../img/hero.jpg)
          1x);

  height: 50rem;
  background-position: center center, center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to left, rgb(0 0 0 / 0), rgb(0 0 0 / 0.8)),
      -webkit-image-set(url(../img/hero.avif) 1x, url(../img/hero.webp) 1x, url(../img/hero.jpg)
            1x);

    height: 60rem;
  }
}

@media (min-width: 992px) {
  .hero {
    height: 65rem;
  }
}

.hero__contenido {
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero__titulo {
  font-size: 3.5rem;
}

@media (min-width: 768px) {
  .hero__titulo {
    font-size: 4.4rem;
  }
}

.btn {
  background-color: var(--tercero);
  color: var(--blanco);
  padding: 1rem 3rem;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 0.7rem;
  width: 80%;
  text-align: center;
  border: none;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.07);
  background-color: var(--primario);
  color: var(--oscuro);
  cursor: pointer;
}

@media (min-width: 768px) {
  .btn {
    width: auto;
  }
}
/*===================================================================*/
/* Main */
.principal {
  margin: 5rem 0;
}

@media (min-width: 768px) {
  .sobre-mi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
.sobre-mi__imagen {
  background-image: -webkit-image-set(
    url(../img/damian.avif) 1x,
    url(../img/damian.webp) 1x,
    url(../img/damian.jpg) 1x
  );

  margin: 0 auto;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;

  width: 200px;
  height: 200px;
  margin-bottom: 3rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .sobre-mi__imagen {
    width: 250px;
    height: 250px;
  }
}

.sobre-mi__imagen:hover {
  transform: scale(1.2);
  opacity: 0.9;
}

.sobre-mi__titulo {
  font-size: 3rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .sobre-mi__titulo {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  .sobre-mi__titulo {
    font-size: 4.4rem;
  }
}

.sobre-mi__span {
  color: var(--primario);
}

.sobre-mi__redes {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .sobre-mi__redes {
    font-size: 1.4rem;
  }
}

@media (min-width: 992px) {
  .sobre-mi__redes {
    font-size: 2.2rem;
  }
}

.sobre-mi__enlace {
  color: var(--primario);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .sobre-mi__enlace {
    flex-direction: row;
    gap: 0 1rem;
  }
}

@media (min-width: 992px) {
  .sobre-mi__enlace:hover {
    text-decoration: underline;
    transform: scale(1.1);
  }
}
/*===================================================================*/
/* Sobre Mi-Historial */
.sobre-mi__historial {
  margin: 8rem auto 4rem auto;
}

.sobre-mi__historial--titulo {
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  .sobre-mi__historial--titulo {
    text-align: left;
  }
}

.sobre-mi__historial--texto {
  font-family: var(--fuenteSecundaria);
  font-weight: 300;
  font-style: italic;
}
/*===================================================================*/
/* Bloque */
.bloque {
  background-color: var(--secundario);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem 0;
}
/*===================================================================*/

/* Skills */
.skills,
.hobbies {
  margin-top: 3rem;
  border-radius: 1rem;
}

.skills__titulo,
.hobbies__titulo {
  color: var(--blanco);
}

.skills__item i,
.hobbies__item i {
  font-size: 5rem;
}

.skills__lista,
.hobbies__lista {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 0.8rem;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  background-color: var(--blanco);
}

.hobbies__lista {
  margin-bottom: 3rem;
}

.hobbies__item--enlace {
  color: var(--negro);
  text-transform: none;
  transition: color 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .skills__lista,
  .hobbies__lista {
    grid-template-columns: repeat(4, 1fr);
    box-shadow: none;
  }

  .skills__item,
  .hobbies__item {
    text-align: center;
    background-color: #ffffff;
    border-radius: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out,
      color 0.4s ease-in-out;
  }

  .skills__item:hover,
  .hobbies__item:hover,
  .hobbies__item:hover a {
    background-color: var(--primario);
    color: var(--blanco);
    transform: scale(1.1);
  }
}
/*===================================================================*/
/* Formacion Academica */
.formacion {
  margin: 7rem auto;
}

.formacion__titulo {
  margin-bottom: 4rem;
  font-weight: bold;
}

.formacion-academica {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.formacion-academica__bloque,
.formacion-academica__bloque img {
  border-radius: 1rem 1rem 0 0;
}

.formacion-academica__bloque img {
  width: 100%;
  object-fit: cover;
}

.formacion-academica__bloque {
  background-color: #181823;
  color: var(--blanco);
  text-align: center;
  border-bottom-left-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: var(--fuenteSecundaria);
  transition: transform 0.2s ease-in-out, border 0.2s ease-in-out;
}

.formacion-academica__contenido {
  display: flex;
  flex-direction: column;
}

.formacion-academica__titulo {
  margin-top: 2rem;
  flex-grow: 1;
  height: 5rem;
}

@media (min-width: 768px) {
  .formacion-academica {
    grid-template-columns: repeat(3, 1fr);
  }

  .formacion-academica__bloque img {
    height: 18rem;
  }

  .formacion-academica__bloque:hover {
    transform: scale(1.1);
  }

  .formacion-academica__titulo {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .formacion-academica {
    grid-template-columns: repeat(5, 1fr);
  }

  .formacion-academica__titulo {
    font-size: 2.3rem;
  }
}

.formacion-academica__textos {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0 2rem 0;
  text-transform: uppercase;
  flex-grow: 1;
}

.finalizado {
  color: var(--verde);
}
/*===================================================================*/
/* Proyectos */
.experiencia {
  background-color: var(--secundario);
  margin: 8rem 0;
}
.experiencia__titulo {
  margin: 8rem auto 0 auto;
  color: var(--blanco);
  padding: 4rem 0;
}

.proyectos {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  .proyectos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .proyectos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .proyectos {
    grid-template-columns: repeat(4, 1fr);
  }
}

.proyecto {
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  background-color: #232335;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
  overflow: hidden;
  object-fit: cover;
}

.proyecto img {
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.proyecto:hover img {
  transform: scale(1.1);
  opacity: 0.7;
}

.proyecto__contenido {
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proyecto__contenido--titulo {
  color: var(--blanco);
  margin: 3rem 0;
}

.etiquetas {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0 1rem;
  margin-bottom: 4rem;
  padding: 0 2rem;
  justify-content: center;
}

.proyecto__contenido--label {
  background-color: var(--azulClaro);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  color: var(--secundario);
}

.proyecto__botones {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.proyecto__enlace {
  background-color: var(--primario);
  padding: 1rem;
  color: var(--blanco);
  border-radius: 0.8rem;
  width: 15rem;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 992px) {
  .proyecto__enlace {
    font-size: 1.4rem;
    width: 12rem;
    transition: transform 0.3s ease-in-out;
  }

  .proyecto__enlace:hover {
    transform: scale(1.05);
  }
}

.proyecto__enlace--repo {
  background-color: unset;
  border: 2px solid var(--azulClaro);
  color: var(--azulClaro);
}

/*===================================================================*/
